.legend {
  display:flex;
  width: 20%;
}
.legendNavy {
  width:2%;
  background-color: #092961;
}
.legendGrey {
  width:2%;
  background-color: #a4b2c8;
}
.legendBlue {
  width:2%;
  background-color: #4199d2;
}

  hr.thin {
    height: 1.5px;
    border: 0;
    color: grey;
    background-color: grey;
    width: 50%;
    }

.container {
  width: 50%;
  display: flex;
  height: 40px;
  margin: auto;
  padding-top: 10px;
}

.navy{
  width: 25%;
  background-color: #092961;
}
.grey {
  width: 25%;
  background-color: #a4b2c8 ;
}
.aquamarine{
  width: 50%;
  background-color: #4199d2 ;
}